# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Entorno virtual
venv/
env/
.env

# Base de datos (datos locales, no subir)
data/

# Instalador del juego (pesa demasiado para GitHub)
static/installer/

# Variables de entorno
.env
.env.local

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
